@import url('https://fonts.googleapis.com/css?family=Khand&display=swap');
*{
    font-family: 'Khand', sans-serif;
}
body{
    background-color: #aeaeae;
}

.pokemon img{
    width: 150px;
}

.trainer img{
    transform: scaleX(-1);
}


.battleCamp{
    width: 600px;
    height: 400px;
    background-color: #eaeaea;
    /* border: 1px solid black; */
    color: black;
    margin: 100px auto;
}

.battleCamp-card{
    background-image: url(../canvas/arena00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.pokemon > img{
    flex: 1 auto;
    width: 90px;
    margin-top: 190px;
}

.joystick{
    width: 600px;
    margin: 0 auto;
}

.botonesCrad{
    display: flex;
    justify-content: space-around;
}

.btnA{
    flex: 1 auto;
    width: 100px;
    height: 100px;
    margin: 0 20px;
    border-radius: 100%;
    background-color: white;
}


/* ACA ARRANCA EL CSS ESPECIFICO DEL INDEX.HTML  */

.main-title{
    margin: auto;
    width: 40%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
}

.main-title img{
    width: 100%;
}


.selector{
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}