@import url('https://fonts.googleapis.com/css?family=Khand&display=swap');
*{
    font-family: 'Khand', sans-serif;
}
body{
    background-color: #aeaeae;
}

.pokemon img{
    width: 150px;
}

.trainer img{
}


.battleCamp{
    width: 600px;
    height: 400px;
    background-color: #eaeaea;
    color: black;
    margin: 60px 0px 30px 0px;
    text-align: center;
    border-radius: 15px;
    
}

.hidden {
    display: none;
}

.fondo-texto{
    text-align: left;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.fondo-texto div{
    width: 300px;
    padding: 0px 10px;
}

.numlife{
    display: inline;
    padding-left: 10px;

}

.battleCamp-card{
    background-image: url(../canvas/arena00.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 4px rgba(34, 14, 2, 0.2);
}

h2{
    margin: 0 auto;
}


.poke-names{   
    background-color: white;
    padding: 10px;
    text-align: initial;
    border-radius: 10px 30px;
    box-shadow: 5px 2px rgba(2,3,6,0.5);
    width: 200px;
    margin: 5px;
}

.pokemon > img{
    flex: 1 auto;
    width: 90px;
    margin-top: 95px;
    margin-right: 10px;
}

.joystick{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.imgAttack{
    width: 100px;
    height: 100px;
    position: relative;
    top: -230px;
    left: -120px;
}


.botonesCrad{
    display: flex;
    justify-content: space-around;
}

.btnA{
    flex: 1 auto;
    width: 100px;
    height: 100px;
    margin: 0 20px;
    border-radius: 100%;
    background-color: white;
}

.imgPoke1{
    transform : rotateY(180deg);
}

.imgPoke2{
    
}
/* ACA ARRANCA EL CSS ESPECIFICO DEL INDEX.HTML  */

.main-title{
    width: 500px;
    margin-top: 60px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.main2{
    opacity: 0;
    }    

.main-title img{
    width: 100%;
}


.selector{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-top: 40px;
}

.btnB{
    width: 100px;
    height: 100px;
    margin: 0 20px;
    border-radius: 100%;
    background-color: white;
}

.btnB img {
    width: 90%;
    margin-top: 10px;
    margin-left: 5px;
}

h3{
    font-size: 20pt;
}